<div class="citydata">
    <div class="col-md-12">
        <span class="citynamelabel">City Name: </span>
        <span class="cityname">{{cityName}}</span>
    </div>
</div>
<div class="row forecastdata">
    <div class="col-md-2" *ngFor="let data of forecastData">
        <div class="col-md-12 datetime">
            {{data.dt_txt | date:'short'}}
        </div>
        <div class="col-md-12 data">
            <span class="citynamelabel">Temperature: </span>
            <span class="cityname">{{data.main.temp}}<sup>&#8451;</sup></span>
        </div>
        <div class="col-md-12 data">
            <span class="citynamelabel">Sea Level: </span>
            <span class="cityname">{{data.main.sea_level}}</span>
        </div>
    </div>
</div>

