.citydata {
    margin: 30px 0 0 40px;
}

.citynamelabel {
    font-size: 20px; 
    font-weight: bold;
}

.cityname {
    font-size: 16px; 
    font-weight: bold; 
    color: gray;
}

.forecastdata {
    margin-top: 50px; 
    margin-left: 250px; 
    margin-right: 20px;
}

.forecastdata > div {
    padding: 0;
}

.datetime { 
    font-size: 20px; 
    font-weight: bold; 
    border: 1px solid #fff; 
    padding: 10px; 
    background-color: lavender;
}

.data {
    border: 1px solid #fff; 
    padding: 10px; 
    background-color: lavender;
}