<div>
    <div class="col-md-12" class="icon">
        <a routerLink="/home">
            <img src="..\..\assets\icon.png" width="200" title="Home" />
        </a>
    </div>
</div>
<router-outlet></router-outlet>


