.content {
    padding: 10px 20px;
}

.wrapper {
    padding-top: 30px;
}

.tile {
    padding: 30px;
    margin: 20px 50px 50px;
    border: 1px solid #ccc;
    background-color: mintcream;
    cursor: pointer;
}

.citylabel {
    font-weight: bold;
    font-size: 20px;
}

.citydata {
    font-weight: bold;
    font-size: 16px;
    color: gray;
}

.datarow { 
    padding: 5px 0;
}