<div class="content">
    <div class="row wrapper">
        <div [routerLink]="['/forecast', city.name]" class="col-md-3 tile" *ngFor="let city of citiesData;">
            <div class="col-xs-12 datarow">
                <span class="citylabel">City Name: </span> 
                <span class="citydata">{{city.name}}</span>
            </div>
            <div class="col-md-12 datarow">
                <span class="citylabel">Temperature: </span>
                <span class="citydata">{{city.main.temp}}<sup>&#8451;</sup></span>
            </div>
            <div class="col-md-12 datarow">
                <span class="citylabel">Sunrise Time: </span>
                <span class="citydata">{{city.sys.sunrise | date:'longTime'}}</span>
            </div>
            <div class="col-md-12 datarow">
                <span class="citylabel">Sunset Time: </span>
                <span class="citydata">{{city.sys.sunset | date:'longTime'}}</span>
            </div>
        </div>
    </div>
</div>

